### Importação dos dados

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [ ]:
#analisar o fatuiramento das 4 empresas
print(f"Faturamento da empresa 1: {loja.Preço.sum()}")
print(f"Faturamento da empresa 2: {loja2.Preço.sum()}")
print(f"Faturamento da empresa 3: {loja3.Preço.sum()}")
print(f"Faturamento da empresa 4: {loja4.Preço.sum()}")

Faturamento da empresa 1: 1534509.12
Faturamento da empresa 2: 1488459.06
Faturamento da empresa 3: 1464025.03
Faturamento da empresa 4: 1384497.58

# 2. Vendas por Categoria

In [ ]:
vendas_por_categorias = loja.groupby('Categoria do Produto')['Preço'].sum().reset_index()
print(vendas_por_categorias)

    Categoria do Produto      Preço
0             brinquedos   23993.78
1       eletrodomesticos  484913.36
2            eletronicos  572659.23
3        esporte e lazer   52387.55
4  instrumentos musicais  121731.69
5                 livros   11713.92
6                 moveis  250178.11
7  utilidades domesticas   16931.48

In [ ]:
avaliacoes_l1 = loja.groupby('Local da compra')['Avaliação da compra'].sum().reset_index()
avaliacoes_l2 = loja2.groupby('Local da compra')['Avaliação da compra'].sum().reset_index()
avaliacoes_l3 = loja3.groupby('Local da compra')['Avaliação da compra'].sum().reset_index()
avaliacoes_l4 = loja4.groupby('Local da compra')['Avaliação da compra'].sum().reset_index()


av_total = pd.concat([avaliacoes_l1, avaliacoes_l2, avaliacoes_l3, avaliacoes_l4], ignore_index=True)

print(av_total)

    Local da compra  Avaliação da compra
0                AC                    5
1                AL                   57
2                AM                    8
3                AP                   15
4                BA                  268
..              ...                  ...
99               RS                  502
100              SC                  328
101              SE                    9
102              SP                 4032
103              TO                   23

[104 rows x 2 columns]

# 3. Média de Avaliação das Lojas

In [1]:
import pandas as pd

# URLs das bases de dados
urls = [
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"
]

# Carregar todas as bases e consolidá-las em um único DataFrame
df_total = pd.concat([pd.read_csv(url) for url in urls])

# Calcular a média de avaliação por loja
media_avaliacao = df_total.groupby("Local da compra")["Avaliação da compra"].mean().reset_index()

# Exibir resultado
print(media_avaliacao)

   Local da compra  Avaliação da compra
0               AC             3.666667
1               AL             3.634146
2               AM             4.071429
3               AP             3.777778
4               BA             3.803226
5               CE             3.596026
6               DF             4.020661
7               ES             4.017544
8               GO             3.940860
9               MA             3.677419
10              MG             4.090744
11              MS             4.097561
12              MT             4.112500
13              PA             3.691358
14              PB             4.086957
15              PE             3.977901
16              PI             3.800000
17              PR             4.078224
18              RJ             3.777228
19              RN             4.208333
20              RO             3.894737
21              RR             3.000000
22              RS             4.018727
23              SC             4.011561
24              SE             3.464286
25              SP             4.113619
26              TO             3.827586

# 4. Produtos Mais e Menos Vendidos

In [2]:
import pandas as pd

# URLs das bases de dados
urls = [
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"
]

# Carregar todas as bases e consolidá-las
df_total = pd.concat([pd.read_csv(url) for url in urls])

# Agrupar por Produto e somar a quantidade vendida
vendas_por_produto = df_total.groupby("Produto")["Quantidade de parcelas"].sum().reset_index()

# Ordenar para encontrar os mais vendidos e os menos vendidos
top_vendidos = vendas_por_produto.sort_values(by="Quantidade de parcelas", ascending=False).head(10)
menos_vendidos = vendas_por_produto.sort_values(by="Quantidade de parcelas", ascending=True).head(10)

# Exibir resultados
print("Produtos mais vendidos:")
print(top_vendidos)

print("\nProdutos menos vendidos:")
print(menos_vendidos)

Produtos mais vendidos:
               Produto  Quantidade de parcelas
43  Secadora de roupas                     649
17              Cômoda                     627
40            Pandeiro                     625
2            Bicicleta                     614
12    Celular Plus X42                     611
9            Cama king                     603
30     Jogo de panelas                     601
37         Micro-ondas                     600
1              Bateria                     595
49              Violão                     595

Produtos menos vendidos:
            Produto  Quantidade de parcelas
45       Smartwatch                     432
29    Jogo de copos                     435
11     Celular ABXY                     447
19   Dinossauro Rex                     458
35   Mesa de centro                     469
38          Mochila                     471
6       Boneca bebê                     474
16  Cubo mágico 8x8                     487
48      Tablet ABXY                     497
25         Guitarra                     497

# 5. Frete Médio por Loja

In [3]:
import pandas as pd

# URLs das bases de dados
urls = [
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"
]

# Carregar todas as bases e consolidá-las
df_total = pd.concat([pd.read_csv(url) for url in urls])

# Calcular o frete médio por loja
frete_medio = df_total.groupby("Local da compra")["Frete"].mean().reset_index()

# Exibir resultado
print(frete_medio)

   Local da compra       Frete
0               AC   49.361324
1               AL   33.258053
2               AM   29.368488
3               AP   21.646223
4               BA   30.257176
5               CE   25.002442
6               DF   30.185782
7               ES   33.199995
8               GO   38.129811
9               MA   35.129564
10              MG   33.460381
11              MS   33.694141
12              MT   32.691573
13              PA   30.633504
14              PB   33.910674
15              PE   35.720970
16              PI   36.948903
17              PR   34.569335
18              RJ   33.935633
19              RN   40.090987
20              RO   46.347240
21              RR  113.673032
22              RS   36.582407
23              SC   29.838897
24              SE   30.487058
25              SP   32.709219
26              TO   33.462289